link(rel='stylesheet', href='/stylesheets/login.css')
.wrapper
  .container
    h1 Welcome to Deadly Game!
    form.form(action = '/login', method = 'POST')
      input(type='text', placeholder='Username', name = 'username')
      input(type='password', placeholder='Password', name = 'passwd')
      button#login-button(type='submit') Login
  ul.bg-bubbles
    li
    li
    li
    li
    li
    li
    li
    li
    li
    li
